body {
    background-color: whitesmoke;
    font-family: 'Trebuchet MS', 'Trebuchet MS', sans-serif;
}

.featured-image {
    background-image: url("../images/snow-white.png");
    background-position: 0% 20%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    width: 100%;
}

main {
    width: 80%;
    margin: 1.5rem auto;
    padding: 1rem;
    overflow: auto;
}

section {
    width: 100%;
}

h1 {
    color: midnightblue;
    font-family: 'Georgia', serif;
    font-weight: normal;
    line-height: 0.9;
    font-size: 1.6rem;
    text-indent: 1.5rem;
    margin-bottom: 1.5rem;
}

h1 span {
    display: block;
    font-size: 3.5rem;
    color: #8b1a1a;
    text-indent: 0;
}

ul {
    background-color: midnightblue;
    border: 26px solid midnightblue;
    border-radius: 25px;
    padding: 0;
    list-style-type: none;
}

ul li {
    display: inline-block;
    text-align: center;
    padding: 0 0.5rem 0.5rem 0.5rem;
    text-indent: 0;
    color: white;
}

a {
    color: midnightblue;
    text-decoration: none;
}

a:visited {
    color: midnightblue;
}

footer {
    clear: both;
    text-align: center;
    font-size: 0.8rem;
    color: gray;
    position: relative;
}

footer p {
    margin-bottom: 0.2rem;
}

@media all and (min-width: 769px) {

    h1 {
        margin-top: 1rem;
        font-size: 3rem;
        text-indent: 2rem;
    }

    h1 span {
        font-size: 5rem;
    }

    section {
        width: 58%;
        float: left;
    }

    main {
        margin-top: 2rem;
        width: 80%;
    }

    .featured-image {
        height: 300px;
        width: 38%;
        margin-right: 2%;
        background-size: 100%;
        background-position: 0% 25%;
        float: left;
    }
}
